:root {
    --clr-green: hsl(75, 94%, 57%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(0, 0%, 20%);
    --clr-darkgrey: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);

    --font-inter:  "Inter", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 14px;
    font-family: var(--font-inter);
    color: var(--clr-white);
    font-weight: 400;
    line-height: 3.2rem;
}
body {
    background-color: var(--offblack);
}
img {
    width: 7rem;
    border-radius: 50%;
    margin-bottom: 1.7rem;
}
/* font */
h1 {
    font-size: 24px;
    color: var(--clr-white);
}
h1, 
h2 {
    margin: 0;
    line-height: 2.5rem;
    font-weight: 500;
}
h2 {
    color: var(--clr-green);
    font-size: 14px;
}
p {
    margin-bottom: .5rem;
    color: hsl(0, 1%, 79%);
    margin-inline: .8rem;
}
h3 {
    font-size: 14px;
    font-weight: 700;
}
/* wrappers */
.wrapper {
    background-color: var(--clr-darkgrey);
    margin: 5rem auto;
    width: 25rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.content-wrapper {
    margin: 2.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* grid sect. */
.section {
    width: 100%;
    background-color: var(--clr-grey);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
}
.section:last-child {
    margin: 0;
}
.section:hover {
    background-color: var(--clr-green);
    color: var(--offblack);
    transition: 0.3s ease;
}
